<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main-conten">
        {{>header}}
        <div class="text">
            <h3>Details</h5>
            <p>It uses data from mapbox.com and Openweathermap</p>
            <p>It collects a querry from users about his location, passes it to the mapbox and gets the coordinates of the user's querry location</p>
            <p>With the coordinates the details of the weather is fetch using the openweather api and rendered to the page</p>
        </div>

        <img class="portrait" src="/img/robot.png" alt="robot image" >
        <p>Created by {{name}}</p>

    </div>

    {{>footer}}
</body>
</html>